body {

background-color: black;

    color:white;
    

}




.heading {
    color:white;

    
    
    
    text-align: center;

    font-size: 100px;

    padding-top: 85px;
    
padding-bottom: 55px;
    
    letter-spacing: 2px;
    
}



.cloud,.ig   {
    
    text-align: center;
    font-family:monospace;
    font-size: 12px;  
    letter-spacing: 2px;
    
    color:white; 
}

.ut  {
    
    text-align: center;

    font-size: 12px;  
    font-family:monospace; 
    
    letter-spacing: 2px;    

}

.border{

border: 1px solid grey;
margin: 50px;
padding: 20px;
}



.music, .video {
font-family:monospace;
    
text-align:center;
    
    letter-spacing: 4px;
    
    padding-bottom: 20px;
}

.pay, .allmusic, .lord{
font-family:monospace;

text-align:center;
}




.payborder {
margin: 50px;
padding: 20px;
border: 1px solid gray; 
   
    }





















